header, main, footer{
    display: grid;
    justify-items: center;
}
header{
    background-image: url("../images/navbar.jpg");
    background-position: center;
    margin: 0px;
}
.footerLinks,.navContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 7px;
}

ul{
    list-style-type: none;
}  
.articleContent{
    padding: 5px;
    padding-bottom: 11px;
    border-radius: 10px;
    background: rgba(17, 20, 28, 0.58);
    display: grid;
    grid-template-columns: 1.87fr 1fr;
}
.articleContent p, .articleContent h3{
    padding-left: 8px;
}
div > a{
    color: antiquewhite;
    padding: 5px;
    border-radius: 11px;
    background: linear-gradient(180deg, #F4F4F4 -115.38%, rgba(76, 73, 84, 0.66) 34.73%, rgba(66, 0, 255, 0.00) 211.54%);
    
}
body{
    background-image: url("../images/background.jpg");
    background-size: contain;
    background-position: center;
}
label, a, p,li, h1, h2,h3{
    color: antiquewhite;
}

header img{
    height: 60px;
}

main{
    gap:10px;
}
.articleContent img{
    width: 100%;
    grid-area: 1/2/2/3;
    margin-top: 50px;
}

.textContent a{
    width: 100px;
}
.textContent p{
    width: 95%;
}

a{
    text-decoration: none;
}
a:hover {
color: red;
text-decoration: underline;
background-color: cornflowerblue;
}

a:focus {
outline: 2px solid blue;
}

a:active {
background-color: yellow;
}

a:visited {
color: rgb(221, 245, 221);
}
.footerLinks img{
    width: 50px;
}