header, main, footer{
    display: grid;
    justify-items: center;
}
header{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40vw;
    background-image: url("../images/navbar.jpg");
    background-position: center;
    margin: 0px;
}
.footerLinks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/*
.navContainer{

}
the dropdown 
*/
main{
    grid-template-columns: 1fr;
}
nav ul, .footerLinks{
    list-style-type: none;
}
body{
    background-image: url("../images/background.jpg");
    background-size: contain;
    background-position: center;
}

label, a, p,li, h1, h2,h3{
    color: antiquewhite;
}
.footerLinks{
    display: grid;
    grid-column-gap: 7px;
}
footer > p{
}
.topContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.topContent img{
    width: 45VW;
    grid-area:1/2/2/3;
    align-self: center;
}
.mainListContents, .sidebarContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mainListContents article, .sidebarContent article{
    justify-self: center;
    padding: 5px;
}
.mainListContents h3, .sidebarContent h3{
    text-align: center;
}
main > a{
    color: antiquewhite;
    padding: 8px;
    border-radius: 11px;
    background: linear-gradient(180deg, #F4F4F4 -115.38%, rgba(76, 73, 84, 0.54) 34.73%, rgba(66, 0, 255, 0.00) 211.54%);
}
header img{
    height: 60px;
}
.topContent h1{
    font-size: xx-large;
}
.topContent h2{
    font-size: x-large;
}
.topContent h3{
    font-weight:normal;
}
.mainListContents article ul,.sidebarContent article ul{
    padding-left: 15px;
}
p,h3{
    color: #FFF;
    font-family: cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
a{
    text-decoration: none;
}
a:hover {
color: red;
text-decoration: underline;
background-color: cornflowerblue;
}

a:focus {
outline: 2px solid blue;
}

a:active {
background-color: yellow;
}

a:visited {
color: rgb(221, 245, 221);
}
.navContainer{
    display: none;
}
.footerLinks img{
    width: 50px;
}

